<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Inline CSS Invoice Template</title>
    <style>
      body { font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
    </style>
  </head>

  <body>
    <div style="padding: 10px">
      <table style="width: 100%">
        <tr style="width: 100%">
          <td style="width: 50%">
            <label style="font-size: 40px; font-weight: bold">INV-001</label>
          </td>
          <td style="width: 50%; text-align: right">
            <img
              style="max-width: 200px"
              src="https://bcassetcdn.com/public/blog/wp-content/uploads/2021/11/10190851/Louis-Vuitton-1.png"
            />
          </td>
        </tr>
      </table>
      <table style="width: 100%; margin: 10px 0px">
        <tr style="width: 100%">
          <td style="width: 33%; line-height: 25px">
            <label>From</label><br />
            <label style="font-weight: bold; font-size: 20px">Business Name</label>
            <br />
            Address Line 1
            <br />
            Address Line 2
            <br />
          </td>
          <td style="width: 33%; line-height: 25px">
            <label>To</label><br />
            <label style="font-weight: bold; font-size: 20px">Business Name</label><br
            />
            Address Line 1
            <br />
            Address Line 2
            <br />
          </td>
          <td style="width: 33%; margin: auto">
            <span
              style="
                background: #e1e1e1;
                font-size: 30px;
                font-weight: bold;
                padding: 10px;
                color: #343a40;
              "
            >
              DUE/PAID</span>
            <span>27 Jul, 2024</span>
          </td>
        </tr>
      </table>
      <table style="width: 100%">
        <tr style="background: teal; color: white; border-radius: 20px">
          <th style="padding: 10px; border-top-left-radius: 10px">Item</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Discount</th>
          <th style="border-top-right-radius: 10px">Amount</th>
        </tr>
        <tr>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            Product 1
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            100
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            1
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            0.00
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            100
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            100
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            Product 1
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            100
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            1
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            0.00
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            100
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            100
          </td>
        </tr>
        <tr>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            Product 1
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            100
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            1
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            0.00
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            100
          </td>
          <td
            style="
              text-align: center;
              background-color: rgba(128, 128, 128, 0.194);
              padding-top: 0.5%;
              padding-bottom: 0.5%;
            "
          >
            100
          </td>
        </tr>
      </table>
      <div
        style="
          width: 50%;
          display: flex;
          float: inline-end;
          justify-content: end;
          padding-top: 1%;
        "
      >
        <div style="width: 40%">
          <div>
            <div
              style="
                padding-inline: 6%;
                padding-top: 4%;
                padding-bottom: 4%;
                color: grey;
                border: 1px solid rgb(174, 169, 169);
              "
            >
              Subtotal
            </div>
            <div
              style="
                padding-inline: 6%;
                padding-top: 4%;
                padding-bottom: 4%;
                color: grey;
                border: 1px solid rgb(174, 169, 169);
              "
            >
              Item Discount
            </div>
            <div
              style="
                padding-inline: 6%;
                padding-top: 4%;
                padding-bottom: 4%;
                color: grey;
                border: 1px solid rgb(174, 169, 169);
              "
            >
              Extra Discount
            </div>
            <div
              style="
                padding-inline: 6%;
                padding-top: 4%;
                padding-bottom: 4%;
                color: grey;
                border: 1px solid rgb(174, 169, 169);
              "
            >
              Total
            </div>
          </div>
        </div>
        <div style="width: 16%; background-color: rgba(128, 128, 128, 0.194)">
          <div
            style="
              padding-inline: 6%;
              padding-top: 10%;
              padding-bottom: 10%;
              color: black;
              border: 1px solid rgb(174, 169, 169);
            "
          >
            20.00
          </div>
          <div
            style="
              padding-inline: 6%;
              padding-top: 10%;
              padding-bottom: 10%;
              color: black;
              border: 1px solid rgb(174, 169, 169);
            "
          >
            20.00
          </div>
          <div
            style="
              padding-inline: 6%;
              padding-top: 10%;
              padding-bottom: 10%;
              color: black;
              border: 1px solid rgb(174, 169, 169);
            "
          >
            20.00
          </div>
          <div
            style="
              padding-inline: 6%;
              padding-top: 10%;
              padding-bottom: 10%;
              color: black;
              border: 1px solid rgb(174, 169, 169);
            "
          >
            20.00
          </div>
        </div>
      </div>
      <table style="width: 100%; position: fixed; bottom: 0">
        <tr style="width: 100%">
          <td style="width: 50%">
            <div>Notes:</div>
            <div>More Information</div>
          </td>
          <td
            style="
              width: 50%;
              background-color: whitesmoke;
              text-align: center;
              padding: 10px;
            "
          >
            <label
              style="
                font-size: 30px;
                color: #e1e1e1;
                text-transform: uppercase;
                margin: auto;
              "
            >Signature</label>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>